/*==================Google Fonts=====================*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Clicker+Script&family=Montserrat:wght@400;500;700&family=Poppins:wght@200;300;400;500;600&display=swap');

/*==================Variable CSS=====================*/
:root {
    --header-height: 3.5rem;
    /*==================Colours=====================*/
    --hus: 228;
    --first-color: hsl(var(--hus), 45%, 42%);
    --title-color: #fff;
    --text-color: hsl(var(--hus), 8%, 65%);
    --body-color: hsl(var(--hus), 26%, 11%);
    --container-color: hsl(var(--hus), 22%, 12%);
    --container-color-light: hsl(var(--hus), 21%, 14%);
    --border-color: hsl(var(--hus), 23%, 24%);
    --black: #000;

    /*==================Fonts & Typograpy=====================*/
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .625rem;

    /*==================Fonts Weight=====================*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;

    /*==================Transition=====================*/
    --trasition: ease-in-out;
}
    /*==================Responsive typograpy=====================*/
    @media screen and (max-width: 992px){
            :root{
                --big-font-size: 2.5rem;
                --h1-font-size: 1.75rem;
                --h2-font-size: 1.5rem;
                --h3-font-size: 1.25rem;
                --normal-font-size: 1rem;
                --small-font-size: .875rem;
            }
    }
    /*==================base=====================*/
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background-color: var(--body-color);
            color: var(--text-color);
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
        }

        h1,
        h2,
        h3,
        h4{
            color: var(--title-color);
            font-weight: var(--weight-700);
        }
        ul{
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        p{
            line-height: 1.6;
        }
        img{
            max-width: 100%;
        }
    /*==================Reuseble css classes=====================*/
.container{
    /*background-color: var(--first-color);*/
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}

    /*==================Header and Nav=====================*/
.header{
    /*background-color: var(--first-color);*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav{
    background-color: var(--first-color);
    height: calc(var(--header-height) + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    column-gap: 1.75rem;
}

.nav__link{
    color: var(--title-color);
    transition: all 0.3s var(--trasition);
}
    /*==================Scroll header=====================*/
    /*==================Active link=====================*/
    /*==================Home=====================*/
    /*==================Button=====================*/