/*==================Google Fonts=====================*/
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Clicker+Script&family=Montserrat:wght@400;500;700&family=Poppins:wght@200;300;400;500;600&display=swap');

/*==================Variable CSS=====================*/
:root {
    --header-height: 3.5rem;
    /*==================Colours=====================*/
    --hus: 228;
    --first-color: hsl(var(--hus), 45%, 42%);
    --title-color: #fff;
    --text-color: hsl(var(--hus), 8%, 65%);
    --body-color: hsl(var(--hus), 26%, 11%);
    --container-color: hsl(var(--hus), 22%, 12%);
    --container-color-light: hsl(var(--hus), 21%, 14%);
    --border-color: hsl(var(--hus), 23%, 24%);
    --black: #000;

    /*==================Fonts & Typograpy=====================*/
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .625rem;

    /*==================Fonts Weight=====================*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-700: 700;

    /*==================Transition=====================*/
    --trasition: ease-in-out;
}
    /*==================Responsive typograpy=====================*/
    @media screen and (max-width: 992px){
            :root{
                --big-font-size: 1.75rem;
                --h1-font-size: 1.5rem;
                --h2-font-size: 1.25rem;
                --h3-font-size: 1rem;
                --normal-font-size: .938rem;
                --small-font-size: .813;
            }
    }
    /*==================base=====================*/
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background-color: var(--body-color);
            color: var(--text-color);
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
        }

        h1,
        h2,
        h3,
        h4{
            color: var(--title-color);
            font-weight: var(--weight-700);
        }
        ul{
            list-style: none;
        }
        a{
            text-decoration: none;
        }
        p{
            line-height: 1.6;
        }
        img{
            max-width: 100%;
        }
    /*==================Reuseble css classes=====================*/
.container{
    max-width: 1400px;
    margin-inline: 50px;
    /*margin-inline: auto;*/
    padding-inline: 0.75rem;
}

/*.nav__menu{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: -100%;*/
/*    background-color: var(--title-color);*/
/*    width: 400px;*/
/*    height: 100%;*/
/*    padding: 4rem 1rem;*/
/*    transition: all 0.3s var(--trasition);*/
/*}*/

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 4rem 3.5rem;
}

.section__title{
    font-size: var(--h1-font-size);
    margin-bottom: 1.75rem;
}

    /*==================Header and Nav=====================*/
.header{
    /*background-color: var(--first-color);*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav__logo-img{
    width: 350px;
}

.nav{
    /*background-color: var(--first-color);*/
    height: calc(var(--header-height) + 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    column-gap: 1.75rem;
}

.nav__link{
    color: var(--title-color);
    transition: all 0.3s var(--trasition);
}
    /*==================Scroll header=====================*/
.scroll-header{
    background-color: var(--black);
}
    /*==================Active link=====================*/
    /*==================Home=====================*/
.home{
    /*background-image: url("https://cdn.wallpapersafari.com/96/45/iprA9a.jpg");*/
    background-image: url("https://a-static.besthdwallpaper.com/dragon-ball-z-goku-power-wallpaper-2560x1920-103389_27.jpg");
    background-size: cover;
    background-position: center;
    padding-block: 6rem 2rem;
}
.home__container{
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.home__title{
    font-size: var(--big-font-size);
    text-transform: uppercase;
}

.home__description{
    margin-block: 1.25rem 1.5rem;
}

    /*==================Button=====================*/
.btn{
    display: inline-block;
    background-color: var(--black);
    color: var(--title-color);
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    font-weight: var(--weight-500);
}

    /*==================Brand=====================*/
.brand__item{
    background-color: var(--container-color);
    height: 100px;
    border-radius: .5rem;
    display: grid;
    place-items: center;
}

.brand__logo{
    width: 88%;
}

/*=============================Anime============================*/
.anime__item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.anime__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.5s var(--trasition);
}

.anime__item:hover .anime__img{
    transform: scale(1.1);
}
.anime__data{
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(
            0deg,
            var(--black) 20%,
            hsla(0, 0%, 22%, 0.04) 100%
    );
    width: 100%;
    height: 124px;
    padding: 1.5rem 1.25rem 0;
}

.anime__title{
    font-size: var(--normal-font-size);
}
.anime__detail{
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-block: .5rem 0.75rem;
    display: block;
}
.anime__rating{
    font-size: var(--small-font-size);
    color: hsl(39, 100%, 55%);
}

/*============================Subscription==========================*/
.subscription{
    background-color: var(--container-color-light);
    padding-block: 2rem;
    height: 510px;
}
.subscription__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
}
.subscription__img{
    justify-self: center;
    width: 400px;
}
.subscription__title,
.subscription__date{
    text-transform: uppercase;
}

.subscription__title{
    margin-bottom: 1.25rem;
}

.subscription__date{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--weight-700);
}

.subscription__description{
    max-width: 500px;
    margin-block: 1.25rem 1.5rem;
}

/*==================================trending-anime=========================*/
.trending-anime{
    background-color: var(--container-color-light);
}

/*==================================Footer=========================*/
.footer{
    background-color: var(--container-color-light);
}
.footer__container{
    padding-block: 4rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.foot__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.footer__anime-item,
.tweet__item{
    display: flex;
    column-gap: 1rem;
}

.footer__anime-item:not(:last-child),
.tweet__item:not(:last-child){
    margin-bottom: 1.5rem;
}

.item__data{
    width: calc(100% - 7rem);
}

.item__title,
.tweet__title{
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
    line-height: 1.2;
    margin-bottom: .25rem;
}

.item__details,
.tweet__details{
    color: var(--first-color);
    font-size: var(--small-font-size);
}

.item__details{
    display: block;
    margin-bottom: 0.75rem;
}

.item__rating{
    color: hsl(39, 100%, 55%);
    font-size: var(--smaller-font-size);
}

.tweet__item:not(:last-child){
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
}

.tweet-icon{
    color: var(--first-color);
    font-size: var(--h1-font-size);
}

.footer__anime-item img{
    width: 96px;
    height: 80px;
    object-fit: cover;
}

.footer__instagram{
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.feed__img{
    height: 70px;
    width: 100%;
    object-fit: cover;
}

.footer__bottom{
    background-color: var(--first-color);
    padding-block: 1rem;
}

.footer__copyright{
    color: var(--title-color);
    text-align: center;
}
/* For large devices */
@media screen and (max-width: 1400px) {
    /*.container{*/
    /*    max-width: 1140px;*/
    /*}*/
    /*.home__container{*/
    /*    grid-template-columns: 5fr 7fr;*/
    /*}*/
    /*.footer__container{*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/
}

@media screen and (max-width: 1200px) {
    /*.container{*/
    /*    max-width: 960px;*/
    /*}*/
    /*.home__container{*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 450px) {
}